<div class="item-card core-bonus-card" data-item-id="{{id}}">
	<div class="header">
		<div class="title-row">
			<span class="toggle-body">{{name}}</span>
			<div class="header-buttons">
				<i class="fa-solid fa-pen-to-square item-edit icon-button" title="Edit Core Bonus" data-item-id="{{id}}"></i>
			</div>
		</div>
		{{#if tags}}
		<div class="tags">
		</div>
		{{/if}}
	</div>
	<div class="body">
		<div class="description">
			{{{system.description}}}
		</div>
	</div>
</div>