<div class="item-card mount-card" data-item-id="{{id}}">
	<div class="header">
		<div class="title-row">
			{{label}}
		</div>
	</div>
	<div class="body">
		{{#if weapons}}
		<div class="weapon-list">
		{{#each weapons}}
		{{> "systems/lancer-lite/template/card/weapon-card.hbs"}}
		{{/each}}
		</div>
		{{/if}}
	</div>
</div>