<div class="item-card mount-card" data-item-id="{{id}}">
	<div class="header">
		<div class="title-row">
			{{label}}
			<div class="header-buttons">
				<i class="fa-solid fa-pen-to-square item-edit icon-button" title="Edit Mount" data-item-id="{{id}}"></i>
			</div>
		</div>
	</div>
	<div class="body">
		{{#if weapons}}
		<div class="weapon-list">
		{{#each weapons}}
		{{> "systems/lancer-lite/template/card/weapon-card.hbs"}}
		{{/each}}
		</div>
		{{/if}}
	</div>
</div>