@import "/src/style/global";

$background-color: white;

.item-sheet {
	// Common
	background-color: $background-color;
	padding: 1rem 2rem;
	position: relative;

	.no-grow {
		flex-grow: 0;
	}

	header.sheet-header {
		justify-content: space-between;

		h1 {
			flex-grow: 0;
			font-family: $font-sans;
			font-size: 2.5rem;
			font-weight: bold;
			white-space: nowrap;
			padding: 0 0.7rem 0 0.3rem;
			margin-bottom: 0.2rem;

			clip-path: polygon(0 0, 0 100%, calc(100% - 1rem) 100%, 100% calc(100% - 1rem), 100% 0);
			background-color: $color-red;
			color: white;
		}

		.icon-button.item-delete {
			color: $color-red3;
		}

		div.icon-button-container {
			display: flex;
			flex-grow: 0;
			flex-direction: row-reverse;
			justify-self: flex-end;

			.icon-button {
				cursor: pointer;
				margin: 0.2rem;
				font-size: 2.5rem;
			}
		}
	}

	.pad-right {
		padding-right: 0.2rem;

		&.--more {
			padding-right: 0.5rem;
		}
	}

	.pad-bottom {
		padding-bottom: 0.2rem;

		&.--more {
			padding-bottom: 0.5rem;
		}
	}

	div.portrait-frame {
		border: 0.2rem solid $color-red;
		width: 8rem;
		height: 12rem;
		background-color: $color-grey2;

		&.--square {
			width: 8rem;
			height: 8rem;
		}

		>img {
			width: 100%;
			height: 100%;
		}
	}

	div.field {
		>label {
			font-weight: bold;
			min-width: 20rem;

			>input,
			>textarea,
			>select {
				font-family: $font-serif;
			}

			>select,
			>.input-container {
				width: calc(100% - 2px);
			}
		}
	}

	div.field-group {
		div.field {
			margin-bottom: 0.2rem;
		}
	}

	div.description {
		.editor {
			min-height: 10rem;
			border: 1px solid $color-grey1;

			.tox.tox-tinymce {
				min-height: 10rem !important;
			}
		}
	}
}