@import "/src/style/global";

$header-color1: $color-red1;
$header-color2: $color-red5;
$header-color3: $color-red7;

$header-text-color: #efefef;

$body-color: #efefef;
$body-text-color: #030303;

div.license-card {
	.item-edit {
		cursor: pointer;
	}

	div.header {
		background-color: $header-color1;
		color: $header-text-color;

		&.--level-1
			{
			background-color: $header-color1;
			}

		&.--level-2
			{
			background-color: $header-color2;
			}

		&.--level-3
			{
			background-color: $header-color3;
			}

		div.title-row {
			width: 100%;
			font-family: $font-sans;
			font-size: 1.2rem;
			font-weight: bold;
			padding: 0.2rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		div.tags,
		div.traits {
			font-family: $font-serif;
			padding: 0.2rem;
		}
	}

	div.body {
		background-color: $body-color;
		color: $body-text-color;

		div.description {
			font-family: $font-sans;
		}
	}
}