<div class="flexcol">
	<h2 class="section-title">Notes</h2>
	<div class="flexrow editor-container">
		{{editor actor.system.notes target="system.notes" button=true}}
	</div>
</div>
<div class="flexcol">
	<h2 class="section-title">Biography</h2>
	<div class="flexrow editor-container">
		{{editor actor.system.biography target="system.biography" button=true}}
	</div>
</div>
</div>