<div class="{{styles.dialog-body}}">
	<div class="flexrow">
		<div class="{{styles.field}}">
			<label>
				Accuracy
				<input type="text" id="input-accuracy" value="0" data-dType="Number">
			</label>
		</div>
		<div class="{{styles.field}}">
			<label>
				Difficulty
				<input type="text" id="input-difficulty" value="0" data-dType="Number">
			</label>
		</div>
	</div>
</div>