@import '/src/style/global';
@import './item-card';

div.item-card.core-bonus-card {
	div.header {
		background-color: $color-red3;
		color: $color-text-white;
	}

	div.body {
		background-color: $color-red4;
		color: $color-text-black;
	}
}