@import '/src/style/global';
@import './item-card';

div.item-card.gear-card {
	div.header {
		background-color: $color-brown1;
		color: $color-text-white;
	}

	div.body {
		background-color: $color-brown2;
		color: $color-text-black;
	}
}