@import "/src/style/global";

$header-color: $color-black2;
$header-text-color: #efefef;

$body-color: $color-black3;
$body-text-color: #030303;

div.item-card {

	// Common
	.icon-button,
	.toggle-body {
		cursor: pointer;
	}

	div.header {
		div.title-row {
			width: 100%;
			font-family: $font-sans;
			font-size: 1.2rem;
			font-weight: bold;
			padding: 0.2rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			div.header-buttons {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				align-self: flex-start;

				.icon-button {
					&:not(:first-child) {
						margin-left: 0.4rem;
					}
				}
			}
		}

		div.type,
		div.tags,
		div.traits {
			font-family: $font-serif;
			padding: 0.2rem;
		}
	}

	div.body {
		div.description {
			font-family: $font-sans;
			display: none;

			&.--show {
				display: inherit;
			}

			p {
				margin: 0;
				padding: 0.2rem;
			}
		}
	}
}