@import '/src/style/global';

div.item-card.license-card {
	div.header {
		background-color: $color-red1;
		color: $color-text-white;

		&.--level-1 {
			background-color: $color-red1;
		}

		&.--level-2 {
			background-color: $color-red5;
		}

		&.--level-3 {
			background-color: $color-red7;
		}
	}

	div.body {
		background-color: $color-red4;
		color: $color-text-black;

		&.--level-1 {
			border: 0.2rem solid $color-red1;
		}

		&.--level-2 {
			border: 0.2rem solid $color-red5;
		}

		&.--level-3 {
			border: 0.2rem solid $color-red7;
		}
	}
}