@import '/src/style/global';

div.item-card.mount-card {
	> div.header {
		clip-path: polygon(0 0, 0 100%, 100% 100%, 100% calc(100% - calc(100% - 1rem)), calc(100% - 1rem) 0);
		background-color: $color-red3;
		color: $color-text-white;
	}

	> div.body  > .weapon-list{
		background-color: $color-red3;
		padding: 0 0.5rem 0.5rem 0.5rem;
	}
}