@import '/src/style/global';
@import './item-card';

div.item-card.talent-card {
	div.header {
		background-color: $color-blue1;
		color: $color-text-white;
	}

	div.body {
		border: 0.2rem solid $color-blue1;
		background-color: $color-text-white;
		color: $color-text-black;
	}
}