@import '/src/style/global';
@import './item-card';

div.item-card.weapon-card {
	div.header {
		background-color: $color-black2;
		color: $color-text-white;
	}

	div.body {
		border: 0.2rem solid $color-black2;
		background-color: $color-black3;
		color: $color-text-black;
	}
}