@import "/src/style/global";

$card-margin: 0.2rem;

.sheet-container {
	// Common
	background-color: white;
	padding: 1rem 2rem;
	position: relative;

	hr {
		border: 0.1rem solid $color-red5;
		width: 100%;
	}

	input.--small {
		max-width: 2rem;
	}

	.no-grow {
		flex-grow: 0;
	}

	.row-reverse {
		flex-direction: row-reverse;
	}

	.pad-top {
		padding-top: 0.2rem;

		&.--more {
			padding-top: 0.5rem;
		}
	}

	.pad-right {
		padding-right: 0.2rem;

		&.--more {
			padding-right: 0.5rem;
		}
	}

	.pad-bottom {
		padding-bottom: 0.2rem;

		&.--more {
			padding-bottom: 0.5rem;
		}
	}

	.pad-left {
		padding-left: 0.2rem;

		&.--more {
			padding-left: 0.5rem;
		}
	}

	.icon-button {
		font-size: 1.2rem;
		cursor: pointer;
	}

	.card-row .item-card {
		max-width: 49%;
		min-width: 49%;
		margin-bottom: $card-margin;
		margin-right: $card-margin;
	}

	.card-col .item-card {
		margin-bottom: $card-margin;
	}

	div.field {
		>label {
			font-weight: bold;
		}
	}

	header.sheet-header h1 {
		flex-grow: 0;
		font-family: $font-sans;
		font-size: 2.5rem;
		font-weight: bold;

		padding: 0 0.7rem 0 0.3rem;
		margin-bottom: 0.2rem;

		clip-path: polygon(0 0, 0 100%, calc(100% - 1rem) 100%, 100% calc(100% - 1rem), 100% 0);
		background-color: $color-red;
		color: white;
	}

	.section-title {
		font-family: $font-sans;
		font-weight: bold;
		flex-grow: 0;
	}

	div.portrait-frame {
		border: 0.2rem solid $color-red;
		width: 8rem;
		height: 12rem;
		background-color: $color-grey2;

		>img {
			width: 100%;
			height: 100%;
		}
	}

	div.header-group {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid var(--color-underline-header);
		margin-bottom: 0.2rem;
		align-items: flex-end;
		flex-grow: 0;

		.header-text {
			display: inline-block;
			margin: 0;
			border: none;
		}

		div.header-options {
			display: flex;

			div.header-field {
				>label {
					font-weight: bold;
				}

				>input,
				>label>input {
					font-weight: initial;
					width: 0.2rem;
				}

				&:not(:last-child) {
					margin-right: 0.2rem;
				}
			}

			.icon-button {
				display: flex;
				align-items: center;
			}
		}
	}

	button.quick-button {
		max-width: 8rem;
	}

	div.resource-field {
		border: 1px solid $color-grey2;
		border-radius: 0.2rem;
		padding: 0.1rem;

		&:not(:last-child) {
			margin-right: 0.2rem;
		}

		>label {
			font-weight: bold;
		}

		>div.resources {
			display: flex;
			align-items: center;

			input {
				max-width: 1.5rem;
				text-align: center;
			}
		}

		&.--center {
			text-align: center;

			>div.resources input {
				text-align: center;
			}
		}

		&.--right {
			text-align: right;

			>div.resources {
				justify-content: flex-end;

				input {
					text-align: center;
				}
			}
		}
	}

	div.editor-container {
		div.editor {
			min-height: 10rem;
			border: 0.1rem solid $color-red;
		}
	}

	nav.tabs {
		display: flex;
		justify-content: initial;
		padding: 0.2rem 0.2rem 0 0;

		border-bottom: 0.2rem solid $color-red;

		>a.item {
			font-family: $font-sans;
			font-size: 1.6rem;
			font-weight: bold;
			padding-right: 0.5rem;
			padding-left: 0.2rem;
			clip-path: polygon(0 0, 0 100%, 100% 100%, 100% calc(100% - calc(100% - 0.5rem)), calc(100% - 0.5rem) 0);
			background-color: $color-grey1;
			color: white;

			margin-bottom: -1px;
			z-index: 0;

			&:hover {
				text-shadow: none;
			}

			&.active {
				text-shadow: none;
				background-color: $color-red;
			}

			&:not(:last-child) {
				margin-right: 0.2rem;
			}
		}
	}
}