@import '/src/style/global';

// Main Sheet
.sheet-container.mech-sheet {
	div.portrait-frame {
		width: 6rem;
		height: 8rem;
	}

	div.info div.field-group div.field {
		display: flex;
		flex-direction: column;
	}

	label.--small {
		font-size: 0.73rem;
	}

	div.skills {
		label {
			font-weight: bold;
		}

		.flexrow {
			min-width: 8rem;
			flex-grow: 0;
		}
	}

	div.vitals {
		label {
			font-size: 0.73rem;
		}

		table {
			border: none;
			margin: 0;
			background-color: inherit;

			td {
				padding: 0.05rem;

				div.resource-field {
					min-width: 4rem;
				}
			}
		}
	}

	div.stats {
		div.stats-col {
			justify-content: flex-start;

			>label {
				flex-grow: 0;
			}

			div.stats-subsection {
				&:not(:last-child) {
					margin-top: 0.2rem;
				}

				div.stats-subsection-header {
					color: $color-red1;
				}

				div.stats-subsection-content {
					padding-left: 2rem;
				}
			}
		}
	}

	// Partials

	// Mount Label
	.card-row .item-card.mount-label {
		// todo: move min height/width to .card-row.--col-3
		min-width: 32%;
		max-width: 32%;

		clip-path: polygon(0 0, 0 100%, 100% 100%, 100% calc(100% - calc(100% - 0.5rem)), calc(100% - 0.5rem) 0);
		background-color: $color-red3;
		color: $color-text-white;

		div.header div.title-row {
			font-size: 0.8rem;

			div.header-buttons {
				align-self: center;
			}
		}
	}
}