@import "/src/style/global";

$card-margin: 0.2rem;

.sheet-container {
	// Common
	background-color: white;
	padding: 1rem 2rem;
	position: relative;

	.row-reverse {
		flex-direction: row-reverse;
	}

	.pad-top {
		padding-top: 0.2rem;

		&.--more {
			padding-top: 0.5rem;
		}
	}

	.pad-right {
		padding-right: 0.2rem;

		&.--more {
			padding-right: 0.5rem;
		}
	}

	.pad-bottom {
		padding-bottom: 0.2rem;

		&.--more {
			padding-bottom: 0.5rem;
		}
	}

	.pad-left {
		padding-left: 0.2rem;

		&.--more {
			padding-left: 0.5rem;
		}
	}

	.icon-button {
		font-size: 1.2rem;
		cursor: pointer;
	}

	.card-row .item-card {
		max-width: 49%;
		min-width: 49%;
		margin-bottom: $card-margin;
		margin-right: $card-margin;
	}

	.card-col .item-card {
		margin-bottom: $card-margin;
	}

	header.sheet-header h1 {
		flex-grow: 0;
		font-family: $font-sans;
		font-size: 2.5rem;
		font-weight: bold;

		padding: 0 0.7rem 0 0.3rem;
		margin-bottom: 0.2rem;

		clip-path: polygon(0 0, 0 100%, calc(100% - 1rem) 100%, 100% calc(100% - 1rem), 100% 0);
		background-color: $color-red;
		color: white;
	}

	.section-title {
		font-family: $font-sans;
		font-weight: bold;
	}

	// todo: should this be a table at all?
	table.skill-table {
		margin-top: 0rem;
		border: none;
		background-color: transparent;

		label {
			font-weight: bold;
			font-family: $font-sans;
		}
	}

	div.skill-container,
	div.stat-container {
		padding: 0rem 0.5rem;
		min-width: 6rem;

		label {
			font-weight: bold;
			font-family: $font-sans;
		}
	}

	// todo: genericize
	div.pilot-portrait-frame {
		border: 0.2rem solid $color-red;
		width: 8rem;
		height: 12rem;
		background-color: $color-grey2;

		>img {
			width: 100%;
			height: 100%;
		}
	}

	div.header-group {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid var(--color-underline-header);
		margin-bottom: 0.2rem;
		align-items: flex-end;
		flex-grow: 0;

		.header-text {
			display: inline-block;
			margin: 0;
			border: none;
		}

		div.header-options {
			display: flex;
		}
	}

	button.quick-button {
		max-width: 8rem;
	}

	nav.tabs {
		display: flex;
		justify-content: initial;
		padding: 0.2rem;

		>a.item {
			font-family: $font-sans;
			font-size: 1.8rem;
			font-weight: bold;
			padding-right: 0.5rem;
			padding-left: 0.2rem;
			clip-path: polygon(0 0, 0 100%, 100% 100%, 100% calc(100% - calc(100% - 0.5rem)), calc(100% - 0.5rem) 0);
			background-color: $color-grey1;
			color: white;

			&:hover {
				text-shadow: none;
			}

			&.active {
				text-shadow: none;
				background-color: $color-red;
			}

			&:not(:last-child) {
				margin-right: 0.3rem;
			}
		}
	}

	div.tab-content {
		max-height: 20rem;
		overflow-x: auto;
	}

	// Pilot Sheet
	.pilot-bio {
		//justify-content: flex-end;

		div.field {
			min-width: 15rem;
			margin-bottom: 0.2rem;

			>label {
				font-weight: bold;

				>input,
				textarea {
					font-family: $font-serif;
				}
			}
		}
	}

	.pilot-skills {
		label {
			font-weight: bold;
		}

		.flexrow {
			min-width: 8rem;
		}
	}

	.pilot-stats {
		label {
			font-weight: bold;
		}

		.flexrow {
			min-width: 4rem;
		}
	}
}