@import "/src/style/global";

$card-margin: 0.2rem;

.sheet-container {
	background-color: white;
	padding: 1rem 2rem;
	position: relative;
}

.row-reverse {
	flex-direction: row-reverse;
}

.card-row :global(.item-card) {
	max-width: 49%;
	min-width: 49%;
	margin-bottom: $card-margin;
	margin-right: $card-margin;
}

.card-col :global(.item-card) {
	margin-bottom: $card-margin;
}

.sheet-header h1 {
	font-family: $font-sans;
	font-size: 2.5rem;
	font-weight: bold;
}

.section-title {
	font-family: $font-sans;
	font-weight: bold;
}

div.field-group {
	&.pilot-bio {
		justify-content: flex-end;

		div.field {
			min-width: 20rem;
			margin-bottom: 0.2rem;

			>label {
				font-weight: bold;

				>input,
				textarea {
					font-family: $font-serif;
				}
			}
		}
	}
}

table.skill-table {
	margin-top: 0rem;
	border: none;
	background-color: transparent;

	label {
		font-weight: bold;
		font-family: $font-sans;
	}
}

div.skill-container,
div.stat-container {
	padding: 0rem 0.5rem;
	min-width: 6rem;

	label {
		font-weight: bold;
		font-family: $font-sans;
	}
}

div.pilot-portrait-frame {
	border: 0.2rem solid $color-red;
	width: 8rem;
	height: 12rem;
	background-color: $color-grey2;

	>img {
		width: 100%;
		height: 100%;
	}
}

.pad-right {
	padding-right: 0.2rem;
}

.pad-bottom {
	padding-bottom: 0.2rem;

	&.--more {
		padding-bottom: 0.5rem;
	}
}

// todo: good candidate for item-sheet.scss
div.header-group {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-underline-header);
	margin-bottom: 0.2rem;
	align-items: flex-end;
	flex-grow: 0;

	.header-text {
		display: inline-block;
		margin: 0;
		border: none;
	}

	div.header-options {
		display: flex;
	}
}

.icon-button {
	font-size: 1.2rem;
	cursor: pointer;
}

button.quick-button {
	max-width: 8rem;
}